<#@ include file="../../_build/TranslationClassBuilder.ttinclude" #><#=

TranslationClassBuilder.GenerateClass(
    jsonPath: this.Host.ResolvePath("../i18n/default.json"),
    addRawGet: true,
    addPartial: true
)
#>